body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pink {
    background-color: pink;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    padding: 16px 64px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon {
    height: 100px;
    width: auto;
}

h1 {
    font-size: 36px;
    color: white;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}